.loader {
    border: 10px solid #eeeeee;
    border-radius: 50%;
    border-top: 10px solid #27BBAE;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }