.nav-drawer {
    width: 70%;
    height: 100vh;
    background: #fcfcfc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.nav-drawer.show {
    transform: translateX(0);
}