.homepage {
    width: 80%;
    max-width: 1200px;
    margin: 1rem auto;
}

.homepage__title {
    font-size: 1.5rem;
    color: #1D8D84;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homepage__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
