* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fcfcfc;
    color: #333333;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}